[Unit]
Description=ghs web service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/apps/golf-handicap-system/frontend
Environment=NODE_ENV=production
Environment=HOST=127.0.0.1
Environment=PORT=5175
ExecStart=/usr/bin/npm run start -- --host 127.0.0.1 --port 5175
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
