[Unit]
Description=www web service
After=network.target

[Service]
Type=simple
User=www-data
WorkingDirectory=/opt/apps/socx-org-uk/frontend
Environment=NODE_ENV=production
Environment=HOST=127.0.0.1
Environment=PORT=5172
ExecStart=/usr/bin/npm run start -- --host 127.0.0.1 --port 5172
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
